@import url("./__author-1/comments__author-1.css");
@import url("./__author-2/comments__author-2.css");
@import url("./__author-3/comments__author-3.css");
@import url("./__comment-1/comments__comment-1.css");
@import url("./__comment-2/comments__comment-2.css");
@import url("./__comment-3/comments__comment-3.css");
@import url("./__container/comments__container.css");
@import url("./__content-subtitle/comments__content-subtitle.css");
@import url("./__content-title/comments__content-title.css");
@import url("./__image-1/comments__image-1.css");
@import url("./__image-2/comments__image-2.css");
@import url("./__image-3/comments__image-3.css");
@import url("./__quote-1/comments__quote-1.css");
@import url("./__quote-2/comments__quote-2.css");
@import url("./__quote-3/comments__quote-3.css");

@media (min-width: 320px) and (max-width: 374px) {
    .comments {
        width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .comments {
        width: 343px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .comments {
        width: 660px;
        margin-left: 54px;
        margin-right: 54px;
        margin-bottom: 102px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .comments {
        width: 928px;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 102px;
    } 
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .comments {
        width: 1184px;
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 102px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .comments {
        width: 1184px;
        margin-left: 8rem;
        margin-right: 8rem;
        margin-bottom: 6.38rem;
    }
}