@media (min-width: 768px) and (max-width: 1023px) {
    .kola__header_website_url-heading {
        width: 352px;

        font-family: Inter-regular;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2em;
        text-decoration: none;

        color: #AAAAAA;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .kola__header_website_url-heading {
        width: 456px;

        font-family: Inter-regular;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2em;
        text-decoration: none;

        color: #AAAAAA;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .kola__header_website_url-heading {
        width: 484px;

        font-family: Inter-regular;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.2em;
        text-decoration: none;

        color: #AAAAAA;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .kola__header_website_url-heading {
        width: 484px;

        font-family: Inter-regular;
        font-size: 0.75rem;
        line-height: 1.25rem;
        letter-spacing: 0.2em;
        text-decoration: none;

        color: #AAAAAA;
    }
}