@media (min-width: 320px) and (max-width: 374px) {
    .comments_comment-2 {
        width: 288px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .comments_comment-2 {
        width: 343px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .comments_comment-2 {
        width: 382px;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .comments_comment-2 {
        width: 296px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .comments_comment-2 {
        width: 382px;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .comments_comment-2 {
        width: 382px;
    }
}