@media (min-width: 320px) and (max-width: 374px) {
    .comments__content-title {
        width: 288px;
        margin-top: 0;
        margin-bottom: 16px;

        font-family: Inter-black;
        font-size: 32px;
        line-height: 35px;
        text-align: center;

        color: #FFFFFF;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .comments__content-title {
        width: 343px;
        margin-top: 0;
        margin-bottom: 16px;

        font-family: Inter-black;
        font-size: 32px;
        line-height: 35px;
        text-align: center;

        color: #FFFFFF;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .comments__content-title {
        width: 660px;
        margin-top: 0;
        margin-bottom: 24px;

        font-family: Inter-black;
        font-size: 42px;
        line-height: 46px;
        text-align: center;

        color: #FFFFFF;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .comments__content-title {
        width: 828px;
        margin-top: 0;
        margin-bottom: 48px;

        font-family: Inter-black;
        font-size: 72px;
        line-height: 65px;
        text-align: center;

        color: #FFFFFF;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .comments__content-title {
        width: 800px;
        margin-top: 0;
        margin-left: 192px;
        margin-right: 192px;
        margin-bottom: 48px;

        font-family: Inter-black;
        font-size: 72px;
        line-height: 78px;
        text-align: center;

        color: #FFFFFF;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .comments__content-title {
        width: 800px;
        margin-top: 0;
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 3rem;

        font-family: Inter-black;
        font-size: 4.5rem;
        line-height: 108.9%;
        text-align: center;

        color: #FFFFFF;
    }
}